### <font color="brown">Problem Set 9: Pandas</font>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

In [8]:
df = DataFrame(np.arange(1,9).reshape(4,2), index=['A','B','C','D'])
df
df.loc['B':'D'][0].max()

7

---

#### Problem 1: 

**Series and DataFrame - Short Answer Questions**

**1. What does the following code print?**

<pre>
ser = Series({'A':25, 'B':31, 'C':26},name='scores')
print(ser.reset_index().scores[1])
</pre>

**---------------------------------------------------------------**

**2. What does the following code print?**

<pre>
df = DataFrame(np.arange(1,9).reshape(4,2), index=['A','B','C','D'])
df.loc['B':'D'][0].max()
</pre>

**---------------------------------------------------------------**

**3. Write 3 different ways to extract the last 3 rows of the following DataFrame**

<pre>
df = DataFrame(np.arange(1,25).reshape(4,6))
</pre>

**---------------------------------------------------------------**

**4. What is the result of the following?**

<pre>
data = DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Abby'],
   'subject_id':['sub1','sub2','sub3','sub4','sub5']})

data.T[1:3][2][0]
</pre>

**---------------------------------------------------------------**

**5. For the dataframe given below which of the which of the following will make Yale an IVY, and NYU not an IVY, by setting the respective NaNs to 'Yes' and 'No'?:**

1. data['IVY'] = data['IVY'].fillna(method='bfill')
2. data['IVY'] = data['IVY'].fillna(method='ffill')
3. data['IVY'] = data['IVY'].fillna('Yes')
4. None of the above

<pre>
data = pd.DataFrame({'Univ':['USC', 'Yale', 'Harvard', 'UCLA', 'NCSU', 'NYU'],
                     'IVY':['No', np.nan, 'Yes', np.nan, 'No', np.nan]})
</pre>

---

#### Problem 2

For the sub problem #5 above, write code that will give the desired result

In [12]:
data = pd.DataFrame({'Univ':['USC', 'Yale', 'Harvard', 'UCLA', 'NCSU', 'NYU'],
                     'IVY':['No', np.nan, 'Yes', np.nan, 'No', np.nan]})
data.iloc[1,1] = 'Yes'
data.iloc[5,1] = 'No'
data

      Univ  IVY
0      USC   No
1     Yale  Yes
2  Harvard  Yes
3     UCLA  NaN
4     NCSU   No
5      NYU   No

---

#### Problem 3
Execute the code below to get a series called nums. <br>
Fill in the missing values (NaN) by the rounded off mean value of the series and get a subset of the series where the numbers are divisible by 3.

In [17]:
from numpy import nan as NA
nums = pd.Series(np.random.randint(1, 10, 20))
for i in range(5):
    nums[np.random.randint(0, 20, 1)] = NA
nums = nums.fillna(nums.mean())
nums

0     4.000000
1     7.000000
2     4.000000
3     4.000000
4     9.000000
5     5.411765
6     8.000000
7     8.000000
8     6.000000
9     7.000000
10    1.000000
11    1.000000
12    2.000000
13    5.411765
14    6.000000
15    5.411765
16    8.000000
17    7.000000
18    7.000000
19    3.000000
dtype: float64

In [18]:
nums[nums % 3 == 0]

4     9.0
8     6.0
14    6.0
19    3.0
dtype: float64

---

#### Problem 4

Given the following series, keep only top 2 most frequent values as is, and replace everything else with 'Other'

<pre>
  ser = pd.Series(np.random.randint(1, 6, [12]))
</pre>

Hint: Use Series method <tt>isin</tt>

In [30]:
ser = pd.Series(np.random.randint(1, 6, [12]))
print(ser.value_counts()[:2])
ser.value_counts().index[:2]

5    4
3    3
dtype: int64

Int64Index([5, 3], dtype='int64')

---

#### Problem 5

In the following Series, convert the first character of each word to uppercase. (Hint: the title() method of String converts the first letter of each word to uppercase, and all others to lowercase. Also try without using the title() method)

<pre>
   ser = pd.Series(['how', 'to easily', 'learn', 'spoken spanish'])
</pre>

In [41]:
ser = pd.Series(['how', 'to easily', 'learn', 'spoken spanish'])
ser

0               how
1         to easily
2             learn
3    spoken spanish
dtype: object

In [42]:
def capitalize(word):
    word = word.title()
    return word

ser.map(capitalize)

0               How
1         To Easily
2             Learn
3    Spoken Spanish
dtype: object

In [43]:
ser.map(lambda v: v.upper())

0               HOW
1         TO EASILY
2             LEARN
3    SPOKEN SPANISH
dtype: object

---

#### Problem 6

Write code to pick words in a Series that contain at least 2 vowels.

In [45]:
ser = pd.Series(['how', 'to easily', 'learn', 'spoken spanish'])

ser[[True, True, False, True]]

0               how
1         to easily
3    spoken spanish
dtype: object

---

#### Problem 7

Write a generic function to switch the columns of a dataframe. (Take column names as input to function)