In [1]:
# Q1

In [17]:
def filterTemps(file, lowerTemp=50, upperTemp=60):
    ans = []
    for line in open(file):
        date, temp = line.split(':')
        date = date.strip()
        temp = temp.strip()
        
        tempCk = isBetween(int(temp), lowerTemp, upperTemp)
        
        if tempCk:
            outDate = formatDate(date)
            ans.append((outDate,temp))
        
    return ans
    
def isBetween(temp, lowerTemp, upperTemp):
    if (temp >= lowerTemp and temp <= upperTemp):
        return True
    else:
        return False
    
def formatDate(date):
    month, day = date.split(' ')
    if month == 'Jan':
        return '01' + '/' + day
    if month == 'Feb':
        return '02' + '/' + day
    if month == 'Mar':
        return '03' + '/' + day
    if month == 'Apr':
        return '04' + '/' + day
    if month == 'May':
        return '05' + '/' + day
    if month == 'Jun':
        return '06' + '/' + day
    if month == 'Jul':
        return '07' + '/' + day
    if month == 'Aug':
        return '08' + '/' + day
    if month == 'Sep':
        return '09' + '/' + day
    if month == 'Oct':
        return '10' + '/' + day
    if month == 'Nov':
        return '11' + '/' + day
    if month == 'Dec':
        return '12' + '/' + day

In [18]:
print(filterTemps('temperature.txt', 30, 80))

[('03/15', '46'), ('01/2', '32'), ('09/09', '79'), ('04/5', '57')]

In [19]:
# Q2

In [20]:
# Q2.1

In [44]:
from collections import Counter

def wordcount(file):
    wordlst = []
    for line in open(file):
        line = line.replace('.','')
        line = line.replace(',','')
        line = line.replace('!','')
        line = line.replace('?','')
        
        words = line.split()
        
        for word in words:
            if len(word) >= 4 and  word.isalpha():
                wordlst.append(word)
             
    counts = Counter(wordlst)
    countedlst = []    
    for key in counts:
        countedlst.append((key, counts[key]))
        
    return countedlst

In [46]:
list1 = wordcount('wordfreqs.txt')
print(list1)

[('this', 2), ('absolutely', 1), ('amazing', 1), ('crazy', 1), ('movie', 2), ('what', 1), ('funniest', 1), ('year', 1)]

In [62]:
# Q2.2

def classify(list):
    cnt_dict = {}
    for tup in list:
        print(tup)
        letterNum = len(tup[0])
        if letterNum in cnt_dict:
            currList = cnt_dict[letterNum]
            currList.append(tup)
            cnt_dict[letterNum] = sorted(currList, key = lambda x: x[0])
        else:
            newList = [tup]
            cnt_dict[letterNum] = newList

    outputLst = []
    for key in cnt_dict:
        outputLst.append((key, cnt_dict[key]))
    
    return sorted(outputLst, key = lambda x: x[0])

In [63]:
print(classify(list1))

('this', 2)
('absolutely', 1)
('amazing', 1)
('crazy', 1)
('movie', 2)
('what', 1)
('funniest', 1)
('year', 1)
[(4, [('this', 2), ('what', 1), ('year', 1)]), (5, [('crazy', 1), ('movie', 2)]), (7, [('amazing', 1)]), (8, [('funniest', 1)]), (10, [('absolutely', 1)])]

In [64]:
# Q3

In [67]:
# Q3.1

lst1 = [i for i in range(1,101) if i%4 == 0]

In [68]:
lst1

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100]

In [69]:
# Q3.2

city_temp = [('nyc',70),('san fran',71),('miami',75),('chicago',65)]

lst2 = [city for (city,temp) in city_temp if temp > 70]

In [70]:
lst2

['san fran', 'miami']

In [80]:
lst3 = [x+y for x in ['F','S','J','E'] for y in ['R','C']]

In [81]:
lst3

['FR', 'FC', 'SR', 'SC', 'JR', 'JC', 'ER', 'EC']

In [93]:
ls4 = [(x,y) for x in range(1,11) for y in range(x+1,11) if (x+y)%3 == 0]

In [94]:
ls4

[(1, 2),
 (1, 5),
 (1, 8),
 (2, 4),
 (2, 7),
 (2, 10),
 (3, 6),
 (3, 9),
 (4, 5),
 (4, 8),
 (5, 7),
 (5, 10),
 (6, 9),
 (7, 8),
 (8, 10)]